.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  height: 400px;
  width: 400px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
